<!doctype html>
<html class="no-js" lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Ekans js!</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

		<link rel="stylesheet" href="assets/css/normalize.css">
		<link rel="stylesheet" href="assets/css/main.css">
		<link rel="stylesheet" href="assets/css/app.css">
	</head>
	<body>

		<table class="game" cellspacing="0" id="game">
		</table>

		<script type="text/template" id="field-template">
			<td class="game-field <% if (snake || food) { %> is-snake <% } %>"
				data-position="<%= position %>"
				data-line="<%= line %>">
			</td>
		</script>

		<script src="./bower_components/jquery/dist/jquery.min.js"></script>
		<script src="./bower_components/underscore/underscore.js"></script>

		<script src="/lib/helpers.js"></script>
		<script src="/lib/data/food.js"></script>
		<script src="/lib/data/field.js"></script>
		<script src="/lib/data/snake.js"></script>
		<script src="/lib/views/fieldView.js"></script>
		<script src="/lib/ekans.js"></script>

		<script>
			(function () {
				var ekans = new Ekans();
				ekans.start();
			}());
		</script>

	</body>
</html>
