@font-face {
	font-family: 'Digital7Regular';
	src: url('/ekans-js/assets/css/fonts/digital-7/digital-7.eot');
	src: url('/ekans-js/assets/css/fonts/digital-7/digital-7.eot') format('embedded-opentype'),
	url('/ekans-js/assets/css/fonts/digital-7/digital-7.woff') format('woff'),
	url('/ekans-js/assets/css/fonts/digital-7/digital-7.ttf') format('truetype'),
	url('/ekans-js/assets/css/fonts/digital-7/digital-7.svg#Digital7Regular') format('svg');
}
