/*
 * Smacss guide style
 */
@import 'compass'

$module-name: 'top-social'

.#{$module-name}
  position: absolute !important

  &.star
    right: 10px
    top: 10px

  &.like
    right: 100px
    top: 9px

  &.share
    left: 100px
    bottom: 26px

  &.tweet
    right: 50px
    bottom: 26px
