/* Smacss guide style
 */
/* line 11, ../../sass/modules/buttons.sass */
.buttons {
  background-color: #f3e800;
  position: absolute;
  -webkit-box-shadow: 0px 4px 0 #776c1c;
  -moz-box-shadow: 0px 4px 0 #776c1c;
  box-shadow: 0px 4px 0 #776c1c;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
/* line 16, ../../sass/modules/buttons.sass */
.buttons:active {
  margin-top: 1px;
}
/* line 18, ../../sass/modules/buttons.sass */
.buttons:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: inset 0px -3px 0 #afa036;
  -moz-box-shadow: inset 0px -3px 0 #afa036;
  box-shadow: inset 0px -3px 0 #afa036;
}

/* line 28, ../../sass/modules/buttons.sass */
.buttons-wrap {
  width: 435px;
  margin: 0 auto;
}

/* line 32, ../../sass/modules/buttons.sass */
.buttons-directionals-wrap,
.buttons-start-wrap {
  position: relative;
  width: 190px;
  height: 190px;
  float: left;
  margin-top: 40px;
}

/* line 40, ../../sass/modules/buttons.sass */
.buttons-directionals-wrap {
  margin-left: 50px;
  margin-top: 100px;
}

/* line 44, ../../sass/modules/buttons.sass */
.buttons-directionals {
  width: 70px;
  height: 70px;
}
/* line 48, ../../sass/modules/buttons.sass */
.buttons-directionals.is-up {
  left: 60px;
  top: 0;
}
/* line 52, ../../sass/modules/buttons.sass */
.buttons-directionals.is-right {
  top: 60px;
  left: 120px;
}
/* line 56, ../../sass/modules/buttons.sass */
.buttons-directionals.is-down {
  left: 60px;
  top: 120px;
}
/* line 60, ../../sass/modules/buttons.sass */
.buttons-directionals.is-left {
  top: 60px;
  left: 0;
}

/* line 64, ../../sass/modules/buttons.sass */
.buttons-start {
  width: 130px;
  height: 130px;
  left: 0;
  top: 35px;
}
