/* Smacss guide style
 */
/* line 8, ../../sass/modules/top-social.sass */
.top-social {
  position: absolute !important;
}
/* line 11, ../../sass/modules/top-social.sass */
.top-social.star {
  right: 10px;
  top: 10px;
}
/* line 15, ../../sass/modules/top-social.sass */
.top-social.like {
  right: 100px;
  top: 9px;
}
/* line 19, ../../sass/modules/top-social.sass */
.top-social.share {
  left: 100px;
  bottom: 26px;
}
/* line 23, ../../sass/modules/top-social.sass */
.top-social.tweet {
  right: 50px;
  bottom: 26px;
}
