/* Smacss guide style
 */
/* line 11, ../../sass/modules/buttons.sass */
.buttons {
  background-color: #f3e800;
  position: absolute;
  -webkit-box-shadow: 0px 4px 0 #776c1c;
  -moz-box-shadow: 0px 4px 0 #776c1c;
  box-shadow: 0px 4px 0 #776c1c;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
/* line 16, ../../sass/modules/buttons.sass */
.buttons:active {
  margin-top: 1px;
}
/* line 18, ../../sass/modules/buttons.sass */
.buttons:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: inset 0px -3px 0 #afa036;
  -moz-box-shadow: inset 0px -3px 0 #afa036;
  box-shadow: inset 0px -3px 0 #afa036;
}

/* line 28, ../../sass/modules/buttons.sass */
.buttons-wrap {
  width: 435px;
  margin: 0 auto;
}

/* line 32, ../../sass/modules/buttons.sass */
.buttons-directionals-wrap,
.buttons-start-wrap {
  position: relative;
  width: 190px;
  height: 190px;
  float: left;
  margin-top: 40px;
}

/* line 40, ../../sass/modules/buttons.sass */
.buttons-directionals-wrap {
  margin-left: 50px;
  margin-top: 100px;
}

/* line 44, ../../sass/modules/buttons.sass */
.buttons-directionals {
  width: 70px;
  height: 70px;
}
/* line 48, ../../sass/modules/buttons.sass */
.buttons-directionals.is-up {
  left: 60px;
  top: 120px;
}
/* line 52, ../../sass/modules/buttons.sass */
.buttons-directionals.is-right {
  top: 60px;
  left: 0;
}
/* line 56, ../../sass/modules/buttons.sass */
.buttons-directionals.is-down {
  top: 60px;
  left: 120px;
}
/* line 60, ../../sass/modules/buttons.sass */
.buttons-directionals.is-left {
  left: 60px;
  top: 0;
}

/* line 64, ../../sass/modules/buttons.sass */
.buttons-start {
  width: 130px;
  height: 130px;
  left: 0;
  top: 35px;
}
/* Smacss guide style
 */
/* line 11, ../../sass/modules/game.sass */
.game {
  background-color: #d4d9a6;
}

/* line 14, ../../sass/modules/game.sass */
.game-line {
  line-height: 18px;
}

/* line 17, ../../sass/modules/game.sass */
.game-field {
  width: 15px;
  height: 15px;
  outline: 1px solid #c9a83a;
  margin: 0 2px;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
  opacity: 0.1;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
/* line 26, ../../sass/modules/game.sass */
.game-field:after {
  content: "";
  width: 13px;
  height: 13px;
  background: #c9a83a;
  position: absolute;
  left: 1px;
  right: 0;
  top: 1px;
  bottom: 0;
}
/* line 37, ../../sass/modules/game.sass */
.game-field.is-snake {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 39, ../../sass/modules/game.sass */
.game-field.is-snake:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 42, ../../sass/modules/game.sass */
.game-field.is-food {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 44, ../../sass/modules/game.sass */
.game-field.is-food:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 47, ../../sass/modules/game.sass */
.game-wrap {
  background-color: #586cd3;
  padding: 50px 0 470px 0;
  width: 500px;
  margin: 60px auto 0 auto;
  position: relative;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
  border-radius: 13px;
}
/* line 54, ../../sass/modules/game.sass */
.game-wrap:after {
  content: "";
  position: absolute;
  width: 385px;
  height: 364px;
  top: 46px;
  left: 56px;
  -webkit-box-shadow: inset 7px 8px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 7px 8px 0px rgba(0, 0, 0, 0.5);
  box-shadow: inset 7px 8px 0px rgba(0, 0, 0, 0.5);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* Smacss guide style
 */
/* line 10, ../../sass/modules/intro.sass */
.intro {
  position: relative;
  margin: 0 auto;
  width: 380px;
  z-index: 2;
  color: #80660f;
  font-size: 23px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
/* line 20, ../../sass/modules/intro.sass */
.intro.is-visible {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 23, ../../sass/modules/intro.sass */
.intro-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 50px 0 0 0;
}
@font-face {
	font-family: 'Digital7Regular';
	src: url('/assets/css/fonts/digital-7/digital-7.eot');
	src: url('/assets/css/fonts/digital-7/digital-7.eot') format('embedded-opentype'),
	url('/assets/css/fonts/digital-7/digital-7.woff') format('woff'),
	url('/assets/css/fonts/digital-7/digital-7.ttf') format('truetype'),
	url('/assets/css/fonts/digital-7/digital-7.svg#Digital7Regular') format('svg');
}
